.ParentContainer{
    margin-top:10px;
    display: flex;
    justify-content: center;
}
.GraphContainer{
    display: flex;
    justify-content: center;
    width: 65%;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 770px) {
    .GraphContainer{
      width: 100%;
    }
  }

.selectContainer{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: flex-start;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#year{
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: beige;;
}
#month{
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: beige;
}
.YearContainer::before{
    content: "Year ";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.MonthContainer::before{
    content: "Month ";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}



.option{
    background-color: beige;
    width: 150px;
    height: 200px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}